.myclasses-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.myclasses-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.myclasses-left-container-next-class {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
}

.myclasses-left-container-previous-class {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%; 
}

.myclasses-header {
    margin-top: 3vh;
    margin-left: 3vw;
    font-size: 2em;
    display: flex;
}