.modal-class-general-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-left: 1.5rem;
    gap: 2vw;
}

.modal-class-image {
    display: flex;
    width: 50%;
    height: 90%;
    flex-direction: column;
    margin: 2vw;
    justify-content: center;
}

.modal-class-image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.modal-class-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-class-title {
    display: flex;
    font-size: 1.7em;
    font-weight: bold;
}

.modal-class-professor {
    font-size: 1.2em;
    margin-top: 0.5rem;
}

.modal-class-fecha {
    font-size: 1.2em;
}

.modal-class-link {
    margin-top: 2rem;
}

.button {
    background-color: blue;
    padding: 2vh;
    color: white;
    font-weight: bold;
    border-radius: 1rem;
}

