.form-filter-main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 20vw;
  height: 45vh;
  border-radius: 1vw;
  padding: 2vh 2vw;
}

.form-filter-title-container p {
  font-size: 1.5vw;
  font-weight: bold;
}

.form-filter-filters-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 2vh;
  padding: 2vh 0;
}

.form-filter-submit-containter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}

.form-filter-submit-button {
  background-color: var(--accent);
  padding: 1vh 2vw;
  border-radius: 5rem;
}
