.navbar {
  background-color: var(--primary);
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  position: static;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItem_name {
  display: flex;
  align-self: center;
  font-family: istok-web;
  font-size: 2rem;
  color: var(--accent);

}

.navItem {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.navItem_profile {
  margin-right: 20px;
}

.navLink {
  color: var(--secondary);
  text-decoration: none;
  font-size: 1rem;
  transition: font-size 0.3s ease;
}

.navLink:hover,
.navLink:focus {
  font-size: 1.2rem;
}